* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f9;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #fff;
}

.logo-image {
  height: 20px;
  width: 76px;
  left: 12px;
  top: 20px;
  margin-left: 24px;
}

.hamburger-container {
  color: #acb7c3;
  cursor: pointer;
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  top: 92px;
  padding: 114px 24px 114px 24px;
  background: url(images/background-image.svg);
  background-size: cover;
  margin: auto;
  margin-bottom: 114px;
  border-bottom-left-radius: 75px;
  background-color: #fff;
}

.title {
  padding-right: 24px;
  font-family: "Poppins", sans-serif;
  left: 24px;
  top: 114px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.content {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 50px;
}

.title-container {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 114px;
  background-color: aqua;
}

.hamburger-container div {
  width: 25px;
  height: 3px;
  background-color: #7f8cff;
  margin: 5px;
  margin-right: 40px;
}

.responsive-image {
  max-width: 100%;
  height: 100%;
}

.header-2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  padding-top: 8px;
}

.nav-link {
  display: flex;
  width: 160px;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  list-style-type: none;
  margin-top: 12px;
}

.fab {
  color: #505f79;
  height: 20px;
}

.fas {
  color: #6070ff;
  padding-right: 36px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #6070ff;
}

.grid-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  margin: auto;
  margin-bottom: 80px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
}

.header-nav-link {
  display: none;
}

img {
  width: 100%;
}

.title-item {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4b;
  text-decoration: none;
  margin-top: 15px;
}

.bottom-header a {
  text-decoration: none;
  color: #fff;
}

.bottom-text a {
  text-decoration: none;
  color: #ebebff;
}

.flex-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4b;
  text-decoration: none;
}

.flex-link ul {
  display: flex;
}

.language1,
.language2,
.language3 {
  margin-left: 3px;
}

.item3 a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.item1 a {
  color: #344563;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.flex-list li a {
  text-decoration: none;
  color: #7a869a;
}

.link1 {
  color: #344563 !important;
}

.counter {
  margin-left: 10px;
  padding-bottom: 11px;
}

.item1,
.item3,
.item5 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}

.item3,
.item5 {
  margin-left: 10px;
}

.text-items {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.text-item2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 10px;
}

.flex-link {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex-link ul {
  list-style-type: none;
  text-decoration: none;
}

.flex-button {
  margin-top: 35px;
}

.flex-link1 {
  margin-top: 48px;
}

.btn-language {
  padding: 4px 10px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  background: #ebebff;
  color: #6070ff;
  text-decoration: none;
}

.btn-project {
  height: 48px;
  width: 124px;
  top: 12px;
  border-radius: 8px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #396df2;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 114px 24px 114px 24px;
  margin: auto;
  background-color: #fff;
}

.title1 {
  margin-right: 50px;
}

.content1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.btn-resume {
  height: 48px;
  width: 150px;
  border-radius: 8px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #396df2;
  transition: all 0.2s;
}

.btn-resume:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-resume:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.language-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.language-div i {
  color: #acb7c3;
  margin-bottom: 45px;
}

.rectangle {
  display: flex;
  height: 66.7155990600586px;
  width: 303px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  background: #f7f7f9;
  margin-bottom: 18px;
}

.rectangle img {
  height: 48px;
  width: 48px;
  left: 12px;
  top: 9px;
  margin-left: 10px;
  align-self: center;
}

.rectangle p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  align-self: center;
  margin-left: 18px;
}

.line {
  height: 1px;
  width: 327px;
  top: 71px;
  color: #dfe1e6;
}

.language-div2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.language-div p,
.language-div2 p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.language-div2 i {
  color: #acb7c3;
  margin-bottom: 30px;
}

.btn-project:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn-project:active {
  background: #2230d2;
  color: #fff;
}

.btn-resume:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.technology {
  list-style-type: none;
}

.technology li p {
  color: #253858;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  background: url("images/background_bottom.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #6070ff;
  border-top-left-radius: 80px;
  text-align: left;
  padding-top: 30px;
}

.bottom-header {
  margin-top: 80px;
  height: 56px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.bottom-text {
  height: 102px;
  width: 327px;
  margin: auto;
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.form {
  text-align: center;
  margin-top: 60px;
}

.text-input,
.email-input {
  height: 48px;
  width: 327px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding: 15px 38px 15px 16px;
  color: #172b4d;
}

.textarea-input {
  height: 170px;
  width: 327px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 15px 38px 15px 16px;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  margin-bottom: 22px;
}

.submit-button {
  position: relative;
  height: 48px;
  width: 150px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: 1px solid #cfd8dc;
  margin-bottom: 30px;
}

.submit-button:hover {
  color: #fff;
  background-color: #6070ff;
}

.submit-button:active {
  background: #2230d2;
  color: #fff;
}

/* =================MODAL================= */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s;
}

.modal-container-active {
  visibility: visible;
  opacity: 1;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.modal-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 50px;
  border: 1px solid gainsboro;
  background-color: #fff;
  height: 95vh;
}

.modal-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.modal-close {
  position: absolute;
  right: 40px;
  color: gray;
  cursor: pointer;
}

.modal-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 15px;
}

.modal-list li {
  list-style-type: none;
}

.element-1,
.element-2,
.element-3 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7a869a;
}

.element-1 {
  color: #344563;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #c1c7d0;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-image {
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.modal-language {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 20px;
}

.modal-language li {
  list-style-type: none;
}

.modal-language li a {
  text-decoration: none;
  background: #ebebff;
  padding: 5px 8px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
}

.list-center {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-line {
  width: 90%;
  margin: 2px auto;
  margin-bottom: 30px;
  border: 1px solid #ebecf0;
}

.modal-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal-btn {
  height: 48px;
  width: 146px;
  border-radius: 8px;
  padding: 12px 14px 12px 14px;
  border: 1px solid #6070ff;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #396df2;
  cursor: pointer;
}

.btn--1 {
  background: url("images/Icon.png");
  background-repeat: no-repeat;
  background-position: 80% center;
  text-align: left;
  padding-left: 30px;
}

.btn--2 {
  background: url("images/Vector.png");
  background-repeat: no-repeat;
  background-position: 90% center;
  padding-left: 3px;
  text-align: left;
  padding-left: 18px;
}

.visible {
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  .modal-flex {
    display: flex;
    flex-direction: row;
  }
  .visible {
    visibility: visible;
  }

  .btn--1 {
    text-align: left;
    padding-left: 30px;
    background: url(images/Icon.png) 80% center no-repeat;
    background-repeat: no-repeat;
    background-position: 80% center;
    margin: 1px 20px;
  }
  
  .btn--2 {
    text-align: left;
    padding-left: 18px;
    background: url(images/Vector.png) 90% center no-repeat;
    background-repeat: no-repeat;
    background-position: 90% center;
  }

  .modal-language {
    margin-left: 20px;
  }
}

/* =================MODAL================= */

@keyframes navLinksDisplay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 380px) {
  body {
    overflow-x: hidden;
  }

  .foreground {
    filter: blur(7px);
  }

  .header-nav-link {
    position: fixed;
    height: 1300px;
    width: 100%;
    background: #6070ff;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    padding-top: 700px;
    opacity: 0.75;
    backdrop-filter: blur(6px);
    animation: navLinksDisplay 0.3s ease-in;
    z-index: 1;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 4px);
    background-color: #fff;
    animation: navLinksDisplay 0.3s ease-in;
    position: fixed;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: #fff;
    animation: navLinksDisplay 0.3s ease-in;
    position: fixed;
  }

  .main-background {
    z-index: 0;
  }

  .nav-active {
    display: block;
  }

  .hamburger-container {
    display: block;
    z-index: 2;
  }

  .header-nav-link li {
    list-style-type: none;
    padding-left: 28px;
    margin-bottom: 20px;
  }

  .header-nav-link li a {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    width: 100%;
    height: 72px;
    margin: auto;
    background-color: #fff;
  }

  .logo-container {
    margin-left: 100px;
  }

  .header-nav-link {
    display: block;
    margin-right: 120px;
  }

  .hamburger-container {
    display: none;
  }

  .header-nav-link ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 40px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .header-nav-link ul li a {
    text-decoration: none;
    color: #344563;
    margin-left: 20px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: url("images/Headerbg.png");
    background-size: 98%;
    background-position: 20px 40px;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 250px 220px;
    border-bottom-left-radius: 75px;
    background-color: #fff;
  }

  .title {
    width: 65%;
  }

  .content {
    margin-top: 2px;
    margin-bottom: 25px;
    width: 100%;
  }

  .grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin-top: 100px;
    background-color: #fff;
  }

  .grid-container:nth-child(2) {
    flex-direction: row-reverse;
  }

  .grid-container:nth-child(4) {
    flex-direction: row-reverse;
  }

  .text-items {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 20px;
    padding-right: 20px;
    width: 60%;
  }

  .project-image {
    width: 100%;
  }

  .flex-link ul {
    display: flex;
    margin-bottom: 40px;
  }

  .flex-link {
    width: 100%;
  }

  .reverse-flex {
    flex-direction: row-reverse;
  }

  .reverse-flex .project-image {
    max-width: 100%;
  }

  .language1,
  .language2,
  .language3 {
    margin-left: 10px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 924px;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 100px;
    margin-top: 100px;
  }

  .about--1 {
    margin-left: 100px;
  }

  .about--2 {
    margin-left: 40px;
    width: 80%;
    margin-top: -30px;
  }

  .language-div p,
  .language-div2 p {
    padding-left: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #344563;
  }

  .title-item {
    animation-name: moveInRight;
    animation-duration: 3s;
  }

  .line {
    height: 1px;
    width: 98%;
    color: #dfe1e6;
  }

  .rectangle {
    display: flex;
    margin: 10px;
    flex-direction: column;
    height: 110px;
    width: 110px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }

  .rectangle img {
    align-self: flex-start;
    margin-top: 20px;
  }

  .rectangle p {
    align-self: flex-start;
    margin-top: 20px;
  }

  .technology-div {
    display: flex;
    margin-top: 38px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background: url("images/bottom-bg.png");
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 74.34px 79.09px;
    margin-top: -300px;
  }

  .bottom-header {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
  }

  .bottom-text {
    height: 102px;
    width: 569px;
    margin-bottom: 20px;
  }

  .logo-container:hover {
    animation-name: rotate;
    animation-duration: 3s;
  }

  .project-image:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .visible {
    visibility: hidden;
  }

  .text-input,
  .email-input {
    height: 48px;
    width: 400px;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #172b4d;
  }

  .textarea-input {
    height: 170px;
    width: 400px;
    border-radius: 0;
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  @keyframes rotate {
    100% {
      opacity: 100%;
      transform: rotate(360deg);
    }
  }

  @keyframes scale {
    100% {
      opacity: 100%;
      transform: scale(1.3);
    }
  }
}
