* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f9;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 48px;
  margin: auto;
  background-color: #fff;
}

.logo-image {
  height: 20px;
  width: 76px;
  left: 12px;
  top: 20px;
  margin-left: 24px;
}

.hamburger-container {
  color: #acb7c3;
}

.header-nav-link {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 604.0000610351562px;
  width: 375px;
  top: 92px;
  padding: 114px 24px 114px 24px;
  background: url(images/background-image.svg);
  margin: auto;
  margin-bottom: 114px;
  border-bottom-left-radius: 75px;
  background-color: #fff;
}

.title {
  padding-right: 24px;
  font-family: "Poppins", sans-serif;
  width: 327px;
  left: 24px;
  top: 114px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.content {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 50px;
}

.title-container {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 114px;
  background-color: aqua;
}

.responsive-image {
  max-width: 100%;
  height: 100%;
}

.header-2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #0f27ff;
  padding-top: 8px;
}

.nav-link {
  display: flex;
  width: 160px;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  list-style-type: none;
  margin-top: 12px;
}

.fab {
  color: #505f79;
  height: 20px;
}

.fas {
  color: #6070ff;
  padding-right: 36px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #6070ff;
}

.grid-container {
  display: grid;
  grid-template-rows: 45% 10% 10% 10% 15% 10%;
  height: 552px;
  width: 327px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 16px;
  margin: auto;
  margin-bottom: 80px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.title-item {
  font-family: "Poppins", sans-serif;
  height: 36px;
  width: 295px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  height: 36px;
  width: 295px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4b;
  text-decoration: none;
  margin-top: 15px;
}

.bottom-header a {
  text-decoration: none;
  color: #fff;
}

.bottom-text a {
  text-decoration: none;
  color: #ebebff;
}

.flex-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 36px;
  width: 295px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  text-decoration: none;
}

.language1,
.language2,
.language3 {
  margin-left: 3px;
}

.item3 a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #444c5a;
}

.item3 {
  color: #4b5163;
}

.item1 a {
  color: #344563;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.flex-list li a {
  text-decoration: none;
}

.link1 {
  color: #344563 !important;
}

.counter {
  margin-left: 10px;
  padding-bottom: 11px;
}

.item1,
.item3,
.item5 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #485060;
}

.item3,
.item5 {
  margin-left: 10px;
  color: #4b5363;
}

.text-items {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.text-item2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 10px;
}

.flex-link {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex-link ul {
  list-style-type: none;
  text-decoration: none;
}

.flex-button {
  margin-top: 35px;
}

.flex-link1 {
  margin-top: 48px;
}

.btn-language {
  padding: 4px 10px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  background: #ebebff;
  color: #0017eb;
  text-decoration: none;
}

.btn-project {
  height: 48px;
  width: 124px;
  top: 12px;
  border-radius: 8px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #396df2;
}

.about {
  display: flex;
  flex-direction: column;
  width: 375px;
  padding: 114px 24px 114px 24px;
  height: 1263px;
  margin: auto;
  background-color: #fff;
}

.title1 {
  margin-right: 50px;
}

.content1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.btn-resume {
  height: 48px;
  width: 150px;
  border-radius: 8px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #396df2;
  transition: all 0.2s;
}

.btn-resume:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-resume:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.language-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.language-div i {
  color: #acb7c3;
  margin-bottom: 45px;
}

.rectangle {
  display: flex;
  height: 66.7155990600586px;
  width: 303px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  background: #f7f7f9;
  margin-bottom: 18px;
}

.rectangle img {
  height: 48px;
  width: 48px;
  left: 12px;
  top: 9px;
  margin-left: 10px;
  align-self: center;
}

.rectangle p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  align-self: center;
  margin-left: 18px;
}

.line {
  height: 1px;
  width: 327px;
  top: 71px;
  color: #dfe1e6;
}

.language-div2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.language-div p,
.language-div2 p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.language-div2 i {
  color: #acb7c3;
  margin-bottom: 30px;
}

.btn-project:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn-project:active {
  background: #2230d2;
  color: #fff;
}

.btn-resume:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.technology {
  list-style-type: none;
}

.technology li p {
  color: #253858;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 779px;
  width: 375px;
  margin: auto;
  background: url("images/background_bottom.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #6070ff;
  border-top-left-radius: 80px;
  text-align: left;
  padding-top: 30px;
}

.bottom-header {
  margin-top: 80px;
  height: 56px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: white;
}

.bottom-text {
  height: 102px;
  width: 327px;
  margin: auto;
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.form {
  text-align: left;
  margin-left: 24px;
}

.text-input,
.email-input {
  height: 48px;
  width: 327px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding: 15px 38px 15px 16px;
  color: #172b4d;
}

.textarea-input {
  height: 170px;
  width: 327px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 15px 38px 15px 16px;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  margin-bottom: 22px;
}

.submit-button {
  position: relative;
  left: 0;
  height: 48px;
  width: 150px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  color: #0017eb;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: 1px solid #cfd8dc;
  margin-bottom: 30px;
}

.submit-button:hover {
  color: #fff;
  background-color: #6070ff;
}

.submit-button:active {
  background: #2230d2;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .header-container {
    width: 100%;
    height: 72px;
    margin: auto;
    background-color: #fff;
  }

  .logo-container {
    margin-left: 100px;
  }

  .hamburger-container {
    display: none;
  }

  .header-nav-link {
    display: block;
    margin-right: 120px;
  }

  .header-nav-link ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 40px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .header-nav-link ul li a {
    text-decoration: none;
    color: #344563;
    margin-left: 20px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: url("images/Headerbg.png");
    background-size: 98%;
    background-position: 20px 40px;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 250px 220px;
    border-bottom-left-radius: 75px;
    background-color: #fff;
  }

  .title {
    width: 65%;
  }

  .content {
    margin-top: 2px;
    margin-bottom: 25px;
    width: 100%;
  }

  .grid-container {
    display: flex;
    width: 88%;
    height: auto;
    margin-top: 100px;
    background-color: #fff;
  }

  .text-items {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 20px;
    padding-right: 20px;
  }

  .text-item2 {
    width: 496px;
    height: auto;
  }

  .project-image {
    height: auto;
    width: auto;
  }

  .flex-link ul {
    display: flex;
    margin-bottom: 40px;
  }

  .flex-link {
    width: 100%;
  }

  .reverse-flex {
    flex-direction: row-reverse;
  }

  .reverse-flex .project-image {
    max-width: 100%;
  }

  .reverse-flex .text-item2 {
    margin-right: 100px;
  }

  .language1,
  .language2,
  .language3 {
    margin-left: 10px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 924px;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 100px;
    margin-top: 100px;
  }

  .about--1 {
    margin-left: 100px;
  }

  .about--2 {
    margin-left: 40px;
    width: 80%;
    margin-top: -30px;
  }

  .language-div p,
  .language-div2 p {
    padding-left: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #344563;
  }

  .title-item {
    animation-name: moveInRight;
    animation-duration: 3s;
  }

  .line {
    height: 1px;
    width: 98%;
    color: #dfe1e6;
  }

  .rectangle {
    display: flex;
    margin: 10px;
    flex-direction: column;
    height: 110px;
    width: 110px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }

  .rectangle img {
    align-self: flex-start;
    margin-top: 20px;
  }

  .rectangle p {
    align-self: flex-start;
    margin-top: 20px;
  }

  .technology-div {
    display: flex;
    margin-top: 38px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 900px;
    background: url("images/bottom-bg.png");
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 74.34px 79.09px;
    margin-top: -300px;
  }

  .bottom-header {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
  }

  .bottom-text {
    height: 102px;
    width: 569px;
    margin-bottom: 20px;
    background-color: #142cff;
    color: #fff;
  }

  .logo-container:hover {
    animation-name: rotate;
    animation-duration: 3s;
  }

  .item3,
  .item5 {
    color: #464f5d;
  }

  .project-image:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-input,
  .email-input {
    height: 48px;
    width: 400px;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #172b4d;
  }

  .textarea-input {
    height: 170px;
    width: 400px;
    border-radius: 0;
  }

  .hidden {
    display: none;
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  @keyframes rotate {
    100% {
      opacity: 100%;
      transform: rotate(360deg);
    }
  }

  @keyframes scale {
    100% {
      opacity: 100%;
      transform: scale(1.05);
    }
  }
}
